body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.42857142857143;
}
.d3-graph svg {
  background-color: #f5f2f0;
}

.d3-graph .series-1 {
  fill: black;
}

.d3-graph .series-2 {
  fill: orange;
}

/* Style the lines by removing the fill and applying a stroke */
.d3-graph .high-value-threshold-line,
.d3-graph .low-value-threshold-line {
  fill: none;
  stroke: red;
  stroke-width: 1;
}
