<div class="multi-line-chart" {{did-insert this.getDataAndLoadChart}}>
  <h1>Multi-Line Chart demo in EmberJS</h1>
  <div>
    <a href="https://observablehq.com/@d3/multi-line-chart">Source</a>
  </div>

  <div>

  </div>
</div>