<div class="simple-demo" {{did-insert this.getDataAndLoadChart}}>
  <h1>Multi-Line Chart demo in EmberJS</h1>
  <svg id="simple-demo-container" height={{this.chartHeight}} width={{this.chartWidth}}>
  </svg>
</div>